*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
}

#headerTop{
    background-color: rgba(218, 218, 218, 0.965);
    color: rgb(91, 88, 88);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 1rem ;
}
#headerBottom{
    padding: 0 1rem ;
    border-bottom: 1px solid gray;
}

#headerBottom .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

#logoImage{
    width: 2rem; 
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;
}
#headerLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
   
}
#headerLinks a {
    color: rgb(67, 67, 67);
}
.headerLinks{
    position: relative;
}
.count{
    font-size: 0.75rem;
    background-color: orange;
    width: 1rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    translate: 40% -30%;
}
#menuButton{
    margin-left: 0.5rem;
    background-color: transparent;
    border:none;
}